<div class="container new-category-container">
    <div class="row new-category-row">
        <div class="col-xs-12">
            <h3>Edit Category</h3>
        </div>
    </div>
    <div class="row new-category-row">
        <div class="col-xs-3">
            Name
        </div>
        <div class="col-xs-8">
            <input type="text" ng-model="name">
        </div>
    </div>
    <div class="row new-category-row">
        <div class="col-xs-3">
            Color
        </div>
        <div class="col-xs-9">
            <input type="text" ng-model="color">
            <div style="background:{{color}}; width: 10%; margin-top: 5px">
                <br>
            </div>
        </div>
    </div>
    <div class="row new-category-row">
        <div class="col-xs-12" >
            <button ng-click="onClickSave()" class="btn btn-primary">Save</button>
            <button ng-click="onClickRemove()" class="btn btn-success">Remove</button>
            <button ng-click="onClickClose()" class="btn btn-danger">Close</button>
        </div>
    </div>
</div>